{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint","@emotion"],
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-unresolved": "off",
    "react/function-component-definition": "off",
    "import/extensions": "off",
    "react/no-unescaped-entities": "off",
    "prettier/prettier": "off",
    "@emotion/jsx-import":"error",
    "@emotion/no-vanilla":"error",
    "@emotion/import-from-emotion":"error",
    "@emotion/styled-import":"error"
  }
}
